**build
**release
*.iml
.DS_Store
.externalNativeBuild
.gradle
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/captures
/local.properties
